{% extends 'base.html' %}

{% block content %}
<div class="category-pages gallery-page">
    <div class="row">
        {% for item in gallery %}
        <div class="card">
            <button type="button" class="btn image-btn" data-bs-toggle="modal" data-bs-target="#{{ item.image_name }}">
                <img src="{{ item.image.url }}" alt="Card image cap" class="image-display">
            </button>
            <!-- Modal -->
            <div class="modal fade" id="{{ item.image_name }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ item.image_name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6"><img class="card-img-top" src="{{ item.image.url }}"
                                        alt="Card image cap"></div>
                                <div class="col-md-6">
                                    <p>{{ item.image_desc }}</p>
                                    <div class="mt-4">
                                        Category: {{ item.image_category }} <br>
                                        Location: {{ item.image_location }} <br>
                                        <button type="button" class="btn" onclick="copy_url('{{ item.image.url }}')"
                                            id="copy">Copy
                                            link</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}