/* 
font-family: 'Indie Flower', cursive;
font-family: 'PT Serif', serif;
*/

body{
    padding: 0;
    margin: 0;
    background-color: #E3CAA5;
    font-family: 'PT Serif', serif;
}

/* Navbar styling */
.main-nav ul{
    display: flex;
    margin-right:3vw;
    margin-top: 4vh;
    padding: 0;
    list-style: none;
  }
  
  .main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 1rem;
  }
  
  .main-nav a:hover{
    font-size: larger;
  }
  
  .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #AD8B73;
    color: white;
  }
  
  .main-header{
    height: 70px;
  }

  .brand-logo:hover{
    text-decoration: none;
  }
  
  .brand-logo:focus{
    text-decoration: none;
  }
  
  .brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
  }

  .brand-logo-name {
    margin-left: 1rem;
    font-size:3rem;
    font-family: 'Old Standard TT', serif;
    color: white;
    text-decoration: none;
  }
  
  .brand-logo-name:hover{
    text-decoration: none !important;
    color:white;
  }
  
  .brand-logo-name:focus{
    text-decoration: none;
    color:white;
  }

  .nav-items{
    font-size: large;
    font-weight: bold;
  }

/* Homepage styling */

.homepage{
    background-image: url('assets/homepage.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    height: 100vh;
    color:black;
    font-weight: bold;
    position: relative;
}

.homepage-title{
    color: white;
    font-size:4rem;
    top: 20%;
    text-align: center;
    position:absolute;padding: 1vh;
}

/* Gallery page */
.category-pages{
    padding:0;
}

.row{
  margin: 0 auto;
  padding: 0;
}

.card{
  margin: 3vh;
  border: none;
  max-width: 20rem;
  min-width: 20rem;
}

.image-display{
  margin: 0;
  padding: 0;
  border-radius: 8px;
  max-width: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  max-height: 20rem;
}

.btn-close{
  background-color: none;
  border: none;
}

.image-btn{
  border: 0px solid transparent;
  height: 100%;
  background-color:#E3CAA5;
  outline: none;
  transition: transform .2s;
  overflow: hidden;
  box-shadow: none;
}

.image-btn:hover{
  border: 0px solid transparent;
  height: 100%;
  background-color:#E3CAA5;
  outline: none;
  transform: scale(1.1);
  box-shadow: none;
}

.image-btn:focus{
  border: none;
  box-shadow: none;
}


.modal-dialog{
  border: none;
}

.modal-content{
  background-color:#AD8B73;
  opacity: 0.9;
  color: white;
  border: none;
}

.modal-backdrop {
  background-color:#E3CAA5;
}